# Compiled output - ignore in ALL services
**/target/

# Eclipse IDE files - ignore in ALL services
**/.settings/
**/.classpath
**/.factorypath
**/.project
.metadata/

# IntelliJ IDEA
**/.idea/
**/*.iml

# OS
.DS_Store
Thumbs.db

# Logs
**/*.log

# Secrets - VERY IMPORTANT
**/application-prod.yml
**/application-secrets.yml